biplop-node-red/flows.json
[
    {
        "id": "e1148c19d834a934",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eca52142934f3780",
        "type": "tab",
        "label": "OpenWifi_AQ_Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfb62fd829f010c3",
        "type": "tab",
        "label": "OpenWiFi_Moisture_Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8616d73b7a71112b",
        "type": "tab",
        "label": "OpenWifi_RA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2d49b8954b0b666",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "772e708ec104e507",
        "type": "tab",
        "label": "Lab10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e3fc61ebdd4c4d3",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d996c8c35f35fb50",
        "type": "mqtt-broker",
        "name": "SYD-AQ",
        "broker": "node-red.cqu.edu.au",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "57af38df75b1749a",
        "type": "mqtt-broker",
        "name": "BNE-AQ",
        "broker": "node-red.cqu.edu.au",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "efc15b3cc303548d",
        "type": "mqtt-broker",
        "name": "MEL-AQ",
        "broker": "node-red.cqu.edu.au",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3190ba08470a38ea",
        "type": "mqtt-broker",
        "name": "CNS-AQ",
        "broker": "node-red.cqu.edu.au",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5f71478c567f6acc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1e97f1f7bc916298",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "99d0eaa72b747265",
        "type": "ui_group",
        "name": "Default",
        "tab": "5f71478c567f6acc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a7e47409c0a6e12",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1qlp18n999p497fc9r7xh3v2pqnkm319468pfbh58tik:d04268e80f0a0bb2f557df563dbceb0a@f6d6244f-0db6-4865-a3a4-491679a7fd1b-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "Cloudant",
        "useapikey": false
    },
    {
        "id": "b0f518a2dbd0c8af",
        "type": "mqtt-broker",
        "name": "Moisture Sesnor",
        "broker": "node-red.cqu.edu.au",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ae48d8525e180f5a",
        "type": "mqtt-broker",
        "name": "SYD-RA01",
        "broker": "node-red.cqu.edu.au",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c9e4a52fd385e1c6",
        "type": "mqtt-broker",
        "name": "SYD-RA02",
        "broker": "node-red.cqu.edu.au",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1ad064ed343bf0ee",
        "type": "ui_tab",
        "name": "Lab10_Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b1181269fc0e1f6a",
        "type": "ui_group",
        "name": "Default",
        "tab": "1ad064ed343bf0ee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8dcd4e1b0e1b983",
        "type": "mqtt-broker",
        "name": "MEL-SE",
        "broker": "node-red.cqu.edu.au",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b6e6f0690a14b48b",
        "type": "inject",
        "z": "e1148c19d834a934",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "This is lab 9 and lab 10",
        "payloadType": "str",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "b6a18414eddddd3f"
            ]
        ]
    },
    {
        "id": "b6a18414eddddd3f",
        "type": "watson-text-to-speech",
        "z": "e1148c19d834a934",
        "name": "Watson Text-to-Speech",
        "lang": "es-ES",
        "langhidden": "es-ES",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "es-ES_LauraV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "Ynr3RsZfZhZ0rFQ7lefNVDy2H-E0_2yO2ilamcyU9rmw",
        "payload-response": false,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/ec76fad0-6eeb-473d-9da2-fa8a6fab5774",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "cd3c516f8da11212",
                "14b572052d15b08e"
            ]
        ]
    },
    {
        "id": "cd3c516f8da11212",
        "type": "change",
        "z": "e1148c19d834a934",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "speech",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 260,
        "wires": [
            [
                "0787b66831ded7d9"
            ]
        ]
    },
    {
        "id": "0787b66831ded7d9",
        "type": "play audio",
        "z": "e1148c19d834a934",
        "name": "",
        "voice": "0",
        "x": 1170,
        "y": 260,
        "wires": []
    },
    {
        "id": "14b572052d15b08e",
        "type": "debug",
        "z": "e1148c19d834a934",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "6a47a094e163d013",
        "type": "watson-speech-to-text",
        "z": "e1148c19d834a934",
        "name": "Watson Speech to Text",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "rOBc4Y0Fq7cHKRYXUO3hoSXzogxL8XeGGj6zTDauc7Bh",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/d7cf65af-9fd5-4a4a-96b4-cd7b6128bee1",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "3f5f936c32c1b039",
                "06f614760ae678f9"
            ]
        ]
    },
    {
        "id": "3f5f936c32c1b039",
        "type": "debug",
        "z": "e1148c19d834a934",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "transcription",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "316d61b3243323d5",
        "type": "microphone",
        "z": "e1148c19d834a934",
        "name": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "6a47a094e163d013"
            ]
        ]
    },
    {
        "id": "06f614760ae678f9",
        "type": "change",
        "z": "e1148c19d834a934",
        "name": "Transcription",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "transcription",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "5a451d927a41ec02"
            ]
        ]
    },
    {
        "id": "5a451d927a41ec02",
        "type": "watson-translator",
        "z": "e1148c19d834a934",
        "name": "Watson LT",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "es",
        "apikey": "P_yXAmG5qEQV9gcPknNrVa59OR3eSLqWojXRbs9ZC18V",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.au-syd.language-translator.watson.cloud.ibm.com/instances/3d85a45d-6eaa-43cf-9f85-a3707204c12e",
        "x": 810,
        "y": 80,
        "wires": [
            [
                "b6a18414eddddd3f",
                "9d73e1a3f9b3f30d"
            ]
        ]
    },
    {
        "id": "9d73e1a3f9b3f30d",
        "type": "debug",
        "z": "e1148c19d834a934",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "df132ae12d04bbcc",
        "type": "mqtt in",
        "z": "eca52142934f3780",
        "name": "MEL_AQ",
        "topic": "application/3abe7286-a458-45a3-b535-f94afe82ff7e/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "efc15b3cc303548d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "979c016445bb77f7",
                "55c171943222a7da",
                "d89e02f472776619"
            ]
        ]
    },
    {
        "id": "0708f1094c6fe125",
        "type": "debug",
        "z": "eca52142934f3780",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 300,
        "wires": []
    },
    {
        "id": "979c016445bb77f7",
        "type": "function",
        "z": "eca52142934f3780",
        "name": "DBInput",
        "func": "var sensorData = msg.payload;\nmsg.payload = //sensorData.payloadT.temperature;\n    {\n    ApplicationName: sensorData.deviceInfo.applicationName,\n    Time: sensorData.time,\n    DeviceEUI: sensorData.deviceInfo.devEui,\n    DeviceName: sensorData.deviceInfo.deviceName,\n    DeviceAddress: sensorData.devAddr,\n    Temperature: sensorData.object.temperatureSensor[\"2\"],\n    Humidity: sensorData.object.humiditySensor[\"7\"],\n    Gas_Pressure: sensorData.object.barometer[\"6\"],\n    Indoor_Air_Quality: sensorData.object.analogInput[\"4\"],\n    Battery: sensorData.object.analogInput[\"8\"]\n\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 100,
        "wires": [
            [
                "0f5f852318298824",
                "72b178e4686c1592"
            ]
        ]
    },
    {
        "id": "72b178e4686c1592",
        "type": "debug",
        "z": "eca52142934f3780",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "d89e02f472776619",
        "type": "function",
        "z": "eca52142934f3780",
        "name": "Dashboard",
        "func": "msg.payload = msg.payload.object.temperatureSensor[\"2\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "0708f1094c6fe125",
                "bc744790a0cf9d7e"
            ]
        ]
    },
    {
        "id": "0f5f852318298824",
        "type": "json",
        "z": "eca52142934f3780",
        "name": "Clounant format",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 640,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "bc744790a0cf9d7e",
        "type": "ui_chart",
        "z": "eca52142934f3780",
        "name": "",
        "group": "99d0eaa72b747265",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Data is not formatted propely",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1086da",
            "#aec7e8",
            "#db6e0f",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "10117ed519eb56f1",
        "type": "cloudantplus out",
        "z": "eca52142934f3780",
        "name": "Cloudant",
        "cloudant": "8a7e47409c0a6e12",
        "database": "lab11",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 940,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "821064c095508053",
        "type": "mqtt in",
        "z": "eca52142934f3780",
        "name": "BNE_AQ",
        "topic": "application/361db3f3-272e-404c-ad63-4a60c0c71666/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "57af38df75b1749a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "beb31eede4eb51c2"
            ]
        ]
    },
    {
        "id": "57dc80c218a0fd48",
        "type": "debug",
        "z": "eca52142934f3780",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "6f03f6d64b6bb439",
        "type": "mqtt in",
        "z": "eca52142934f3780",
        "name": "CNS-AQ",
        "topic": "application/d48df032-cd75-416e-9a8e-cf4ed25b790e/device/ac1f09fffe057c93/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3190ba08470a38ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "7a877e55542a8b40"
            ]
        ]
    },
    {
        "id": "88d5231a7ddcd548",
        "type": "debug",
        "z": "eca52142934f3780",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 520,
        "wires": []
    },
    {
        "id": "d6954efab051ea5a",
        "type": "mqtt in",
        "z": "eca52142934f3780",
        "name": "SYD_AQ",
        "topic": "application/9ea50e97-d2db-4222-be0d-ee9ea0111fbb/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d996c8c35f35fb50",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "bf23c6bcc34c0d10"
            ]
        ]
    },
    {
        "id": "4e7d46176608e714",
        "type": "debug",
        "z": "eca52142934f3780",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "beb31eede4eb51c2",
        "type": "function",
        "z": "eca52142934f3780",
        "name": "DBInput",
        "func": "var sensorData = msg.payload;\nmsg.payload = //sensorData.payloadT.temperature;\n    {\n    ApplicationName: sensorData.deviceInfo.applicationName,\n    Time: sensorData.time,\n    DeviceEUI: sensorData.deviceInfo.devEui,\n    DeviceName: sensorData.deviceInfo.deviceName,\n    DeviceAddress: sensorData.devAddr,\n    Temperature: sensorData.object.temperatureSensor[\"2\"],\n    Humidity: sensorData.object.humiditySensor[\"7\"],\n    Barometer: sensorData.object.barometer[\"6\"],\n    GasResistance: sensorData.object.analogInput[\"4\"],\n    Battery: sensorData.object.analogInput[\"8\"]\n\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "57dc80c218a0fd48"
            ]
        ]
    },
    {
        "id": "7a877e55542a8b40",
        "type": "function",
        "z": "eca52142934f3780",
        "name": "DBInput",
        "func": "var sensorData = msg.payload;\nmsg.payload = //sensorData.payloadT.temperature;\n    {\n    ApplicationName: sensorData.deviceInfo.applicationName,\n    Time: sensorData.time,\n    DeviceEUI: sensorData.deviceInfo.devEui,\n    DeviceName: sensorData.deviceInfo.deviceName,\n    DeviceAddress: sensorData.devAddr,\n    Temperature: sensorData.object.temperatureSensor[\"2\"],\n    Humidity: sensorData.object.humiditySensor[\"7\"],\n    Barometer: sensorData.object.barometer[\"6\"],\n    GasResistance: sensorData.object.analogInput[\"4\"],\n    Battery: sensorData.object.analogInput[\"8\"]\n\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "88d5231a7ddcd548"
            ]
        ]
    },
    {
        "id": "bf23c6bcc34c0d10",
        "type": "function",
        "z": "eca52142934f3780",
        "name": "DBInput",
        "func": "var sensorData = msg.payload;\nmsg.payload = //sensorData.payloadT.temperature;\n    {\n    ApplicationName: sensorData.deviceInfo.applicationName,\n    Time: sensorData.time,\n    DeviceEUI: sensorData.deviceInfo.devEui,\n    DeviceName: sensorData.deviceInfo.deviceName,\n    DeviceAddress: sensorData.devAddr,\n    Temperature: sensorData.object.temperatureSensor[\"2\"],\n    Humidity: sensorData.object.humiditySensor[\"7\"],\n    Barometer: sensorData.object.barometer[\"6\"],\n    GasResistance: sensorData.object.analogInput[\"4\"],\n    Battery: sensorData.object.analogInput[\"8\"]\n\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 620,
        "wires": [
            [
                "4e7d46176608e714"
            ]
        ]
    },
    {
        "id": "55c171943222a7da",
        "type": "debug",
        "z": "eca52142934f3780",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "40bc03b4b5bf0019",
        "type": "mqtt in",
        "z": "dfb62fd829f010c3",
        "name": "Moisture Sensor",
        "topic": "application/4dcbfc34-d6ef-49c2-99d5-992b20d80fac/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b0f518a2dbd0c8af",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "5a8f305f519110c5",
                "bc484b56140755e8",
                "ec694e98a8faeb38"
            ]
        ]
    },
    {
        "id": "87e4d5e02da58c43",
        "type": "debug",
        "z": "dfb62fd829f010c3",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "5a8f305f519110c5",
        "type": "function",
        "z": "dfb62fd829f010c3",
        "name": "Moisture_data",
        "func": "var sensorData = msg.payload;\n//var metaDataAll=msg.appID;\n\nmsg.payload = //sensorData.payloadT.temperature;\n{\n\n    ApplicationName: sensorData.deviceInfo.applicationName,\n    Time: sensorData.time,\n    DeviceEUI: sensorData.deviceInfo.devEui,\n    DeviceName: sensorData.deviceInfo.deviceName,\n    DeviceAddress: sensorData.devAddr,\n    Battery: sensorData.object.Bat,\n    Temperature: sensorData.object.TempC_DS18B20,\n    Soil_Moisture: sensorData.object.water_SOIL,\n    Soil_Temperature: sensorData.object.temp_SOIL,\n    Soil_Conductivity: sensorData.object.conduct_SOIL\n\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "87e4d5e02da58c43"
            ]
        ]
    },
    {
        "id": "bc484b56140755e8",
        "type": "debug",
        "z": "dfb62fd829f010c3",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "ec694e98a8faeb38",
        "type": "function",
        "z": "dfb62fd829f010c3",
        "name": "function 3",
        "func": "var sensorData = msg.payload;\n//var metaDataAll=msg.appID;\n\nmsg.payload = //sensorData.payloadT.temperature;\n{\n\n    ApplicationName: sensorData.deviceInfo.applicationName,\n    Time: sensorData.time,\n    DeviceEUI: sensorData.deviceInfo.devEui,\n    DeviceName: sensorData.deviceInfo.deviceName,\n    DeviceAddress: sensorData.devAddr\n\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "3115745a04dcd68b"
            ]
        ]
    },
    {
        "id": "3115745a04dcd68b",
        "type": "debug",
        "z": "dfb62fd829f010c3",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "d1ad30c7b9c3a50e",
        "type": "mqtt in",
        "z": "dfb62fd829f010c3",
        "name": "Moisture Sensor",
        "topic": "application/70383604-2bbc-4fab-9312-8cdf4c70e607/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b0f518a2dbd0c8af",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "954e5ce036937c19"
            ]
        ]
    },
    {
        "id": "954e5ce036937c19",
        "type": "debug",
        "z": "dfb62fd829f010c3",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "daf53c2cc28b5685",
        "type": "mqtt in",
        "z": "8616d73b7a71112b",
        "name": "SYD-RA01",
        "topic": "application/robotarm/syd_01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ae48d8525e180f5a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "f65aee8796639a44"
            ]
        ]
    },
    {
        "id": "f65aee8796639a44",
        "type": "debug",
        "z": "8616d73b7a71112b",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "bffa2a45158ca340",
        "type": "mqtt in",
        "z": "8616d73b7a71112b",
        "name": "SYD-RA02",
        "topic": "application/robotarm/syd_02",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9e4a52fd385e1c6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "a705b1d7bb18a450"
            ]
        ]
    },
    {
        "id": "41e8b6ac476d6d91",
        "type": "debug",
        "z": "8616d73b7a71112b",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "a705b1d7bb18a450",
        "type": "debug",
        "z": "8616d73b7a71112b",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "2b7d0efb180d5f33",
        "type": "natural-language-understanding",
        "z": "b2d49b8954b0b666",
        "name": "",
        "categories": false,
        "limitcategories": "3",
        "classifications": false,
        "classifications-model": "8",
        "concepts": false,
        "maxconcepts": "8",
        "doc-emotion": true,
        "doc-emotion-target": "apples",
        "doc-sentiment": false,
        "doc-sentiment-target": "",
        "entity": false,
        "entity-emotion": false,
        "entity-sentiment": false,
        "maxentities": "50",
        "keyword": true,
        "keyword-emotion": false,
        "keyword-sentiment": false,
        "maxkeywords": "10",
        "metadata": false,
        "relation": false,
        "semantic": false,
        "semantic-entities": false,
        "semantic-keywords": false,
        "maxsemantics": "50",
        "limittextcharacters": "200",
        "syntax": false,
        "syntax-sentences": false,
        "syntax-tokens-lemma": false,
        "syntax-tokens-pos": false,
        "service-endpoint": "https://api.au-syd.natural-language-understanding.watson.cloud.ibm.com/instances/f37aa79d-c1c3-4527-9ef3-89123ac1fe57",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "b7c320352c07e4a7"
            ]
        ]
    },
    {
        "id": "86893f273e4adf75",
        "type": "inject",
        "z": "b2d49b8954b0b666",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "http://newsroom.ibm.com/Guerbet-and-IBM-Watson-Health-Announce-Strategic-Partnership-for-Artificial-Intelligence-in-Medical-Imaging-Liver",
        "payloadType": "str",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "2b7d0efb180d5f33"
            ]
        ]
    },
    {
        "id": "b7c320352c07e4a7",
        "type": "debug",
        "z": "b2d49b8954b0b666",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "bb96db7d1b4f978a",
        "type": "mqtt in",
        "z": "772e708ec104e507",
        "name": "MEL_AQ",
        "topic": "application/3abe7286-a458-45a3-b535-f94afe82ff7e/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "efc15b3cc303548d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "6c7b0b0b6cb1d314",
                "0d2b35e0902a4968"
            ]
        ]
    },
    {
        "id": "6c7b0b0b6cb1d314",
        "type": "function",
        "z": "772e708ec104e507",
        "name": "DBInput",
        "func": "var sensorData = msg.payload;\nmsg.payload = //sensorData.payloadT.temperature;\n    {\n    ApplicationName: sensorData.deviceInfo.applicationName,\n    Time: sensorData.time,\n    DeviceEUI: sensorData.deviceInfo.devEui,\n    DeviceName: sensorData.deviceInfo.deviceName,\n    DeviceAddress: sensorData.devAddr,\n    Temperature: sensorData.object.temperatureSensor[\"2\"],\n    Humidity: sensorData.object.humiditySensor[\"7\"],\n    Gas_Pressure: sensorData.object.barometer[\"6\"],\n    Indoor_Air_Quality: sensorData.object.analogInput[\"4\"],\n    Battery: sensorData.object.analogInput[\"8\"]\n\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "bf4d8b1cdb8206a5"
            ]
        ]
    },
    {
        "id": "bf4d8b1cdb8206a5",
        "type": "json",
        "z": "772e708ec104e507",
        "name": "Clounant format",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 740,
        "y": 300,
        "wires": [
            [
                "5c18e7c1cf505c4b"
            ]
        ]
    },
    {
        "id": "5c18e7c1cf505c4b",
        "type": "cloudantplus out",
        "z": "772e708ec104e507",
        "name": "Cloudant",
        "cloudant": "8a7e47409c0a6e12",
        "database": "lab11",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 1020,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0d2b35e0902a4968",
        "type": "function",
        "z": "772e708ec104e507",
        "name": "Dashboard",
        "func": "msg.payload = msg.payload.object.temperatureSensor[\"2\"];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "91e5d301f178c2c6",
                "b1229679c76bd358",
                "c3d3b4e2116cca2b"
            ]
        ]
    },
    {
        "id": "91e5d301f178c2c6",
        "type": "ui_chart",
        "z": "772e708ec104e507",
        "name": "",
        "group": "b1181269fc0e1f6a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b1229679c76bd358",
        "type": "debug",
        "z": "772e708ec104e507",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "c3d3b4e2116cca2b",
        "type": "ui_gauge",
        "z": "772e708ec104e507",
        "name": "",
        "group": "b1181269fc0e1f6a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 500,
        "wires": []
    },
    {
        "id": "24dbe34173f47d45",
        "type": "mqtt in",
        "z": "2e3fc61ebdd4c4d3",
        "name": "",
        "topic": "application/4dcbfc34-d6ef-49c2-99d5-992b20d80fac/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f8dcd4e1b0e1b983",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    }
]